<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyAdventure</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <h1>pyAdventure Test</h1>
        <div id="output"></div>
            <form id ="form">
                <input type="text" id="userin">
                <input type="submit" value="send">
            </form>
    </main>
</body>




<script typ="text/javascript">
    $(document).ready(function() {
        $('#form').on('submit',function(e){
            $.ajax({
                data : {
                    userin : $('#userin').val(),
                },
                type : 'POST',
                url : '/'
            })
            .done(function(data){
                $('#output').text(data.output).show();
            })
            e.preventDefault();
        });
    });
</script>